.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  background:#c2c2af;
}
.APP{
  background:#c2c2af;
  
}
.search-form{
  width:50%;
  text-align: center;
  margin: 0 auto 0 auto;
}
.fieldset{
  width: 15%;
  margin: 0 30px;
  display: inline-block;
}
.foodGrid{
  width: 80%;
  margin: 0 30px;
  display: inline-block;
}
.userList{

}
.recipeItem{
  font-size: 11px;
  display: inline-block;
  width: 28%;
  margin: 20px 0px;
  overflow: hidden;
}
.recipeItem  img{
  width:50%;
  height: 50%;
  margin:0 20px;
}
.rowItem {
  display: inline-block;
  
  margin: 20px 0px;
}
hr{
  width:100vw;
}
p{
  font-size: 12px;
}